.logo {
    width: 50px;
    height: 50px;
}
.nick {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    border-bottom: 2px dashed;
    width: 100%;
}

.kotik {
    width: 500px;
    height: 350px;
}


 div {

    color: white;
    background: linear-gradient(45deg,#20a799 ,#c992d3);
    text-align: center;
    width: 900px;
    margin:  auto;
    cursor: pointer;
 }

 div:hover {
    border-radius: 24px;
    border: 5px solid #6e5a9f;
 }

 p {
    padding: 30px;
    font-size: 20px;
 } 

 :root{
    --pink:#c992d3;
    --green:#20a799;
 }

footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #20a799;
    background: repeating-linear-gradient(45deg,
     var(--green) 10px, var(--green) 30px,
     var(--pink) 30px, var(--pink) 49px);


    
}
.img {
    width: 25px;
    height: 25px;
}
 

